<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/custom.form.css">
</head>
<body>
<div class="panel panel-default operation" hidden>
  <div class="panel-heading title"></div>
<div class="layui-card-body">
<form class="layui-form " action="" lay-filter="info" style="width: 700px;margin-top: 10px">
      <input name="id" hidden/>
    <div class="layui-form-item">
        <div class="layui-form-item">
            <label class="layui-form-label">Asset Code</label>
            <div class="layui-input-block">
                <input type="assetCode" name="assetCode" placeholder="Will auto" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <label class="layui-form-label">Asset Name</label>
        <div class="layui-input-block">
            <input type="assetName" name="assetName" placeholder="Asset Name" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="row">
        <div class="layui-form-item">
            <label class="layui-form-label">Asset Type</label>
            <div class="layui-input-block">
                <select id="assetType" name="assetType" lay-filter="select-type" th:with="assetType=${@assetType2Service.getAssettype()}">
                    <option value="">Select</option>
                    <option th:each="dict : ${assetType}" th:text="${dict.typeName}" th:value="${dict.id}"></option>
                </select>

            </div>

        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Unit</label>
            <div class="layui-input-block">
                <input type="unit" name="unit" placeholder="Unit" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="row">
            <div class="layui-form-item">
                <label class="layui-form-label">Buy Date</label>
                <div class="layui-input-block">

                    <input type="text" id="buydate" name="buydate" placeholder="Buy Date" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Cost</label>
            <div class="layui-input-block">
                <input type="cost" name="cost" placeholder="Cost" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Detail</label>
        <div class="layui-input-block">
            <textarea placeholder="Detail" class="layui-textarea" id="description" name="description"></textarea>
            <!--<input type="description" name="description" placeholder="內容" autocomplete="off" class="layui-input">-->

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Invoiceno Date</label>
        <div class="layui-input-block">

            <input type="text" id="invoicenodate"  name="invoicenodate" placeholder="Invoiceno Date" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Serial Number</label>
        <div class="layui-input-block">
            <input type="serialnum" name="serialnum" placeholder="Serial Number" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Invoice No.</label>
        <div class="layui-input-block">
            <input type="invoiceno" name="invoiceno" placeholder="Invoice No." autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Place</label>
        <div class="layui-input-block">
            <select id="place" name="place" lay-filter="select-place" th:with="place=${@place2Service.getPlacetSel()}">
                <option value="">Selete</option>
                <option th:each="dict : ${place}" th:text="${dict.placeName}" th:value="${dict.id}"></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Staff</label>
        <div class="layui-input-block">
            <select id="responStaff" name="responStaff" lay-filter="select-staff" th:with="staffId=${@UserService.getUserS()}">
                <option value="">Select</option>
                <option th:each="dict : ${staffId}" th:text="${dict.realName}" th:value="${dict.id}"></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Department</label>
        <div class="layui-input-block">
            <select id="deptId" name="deptId" lay-filter="select-dept" th:with="deptId=${@departmentService.getDeptId()}">
                <option value="">Select</option>
                <option th:each="dict : ${deptId}" th:text="${dict.deptName}" th:value="${dict.id}"></option>
            </select>
            <!--<input type="deptId" name="deptId" placeholder="所屬部門" autocomplete="off" class="layui-input">-->
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Remark</label>
        <div class="layui-input-block">
            <!--<input type="remark" name="remark" placeholder="備註" autocomplete="off" class="layui-input">-->
            <textarea placeholder="Remark" class="layui-textarea" id="remark" name="remark"></textarea>

        </div>
    </div>
  <div class="layui-form-item">
  <div class="layui-input-block">
    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">Submit</button>
    <button  class="layui-btn layui-btn-primary" id="btn_cancel">Back</button>
  </div>
</div>
</form>
</div>
</div>

<div class="table_div">
  <div id="searchParam"  shiro:hasPermission="assetListview:list">
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <input type="text" id="assetCode" class="layui-input"  autocomplete="off" placeholder="By Asset Code">
        </div>
        <div class="layui-input-inline">
            <input type="text" id="assetName" class="layui-input"  autocomplete="off" placeholder="By Asset Name">
        </div>


        <div class="layui-input-inline">
            <select id="typeSel" name="typeSel" class="select-type"  lay-filter="select-type" th:with="assetType=${@assetType2Service.getAssettype()}">
                <option></option>
                <option th:each="dict : ${assetType}" th:text="${dict.typeName}" th:value="${dict.id}"></option>
            </select>
        </div>

        <div class="layui-input-inline">
            <select id="deptSel" name="deptSel" class="select-type"  lay-filter="select-type" th:with="deptId=${@departmentService.getDeptId()}">
                <option></option>
                <option th:each="dict : ${deptId}" th:text="${dict.deptName}" th:value="${dict.id}"></option>
            </select>
        </div>

      <div class="layui-input-inline ">
        <button class="layui-btn" onclick="search()"  id="search">Inquire</button>
        <button class="layui-btn"   id="export">Export</button>
      </div>
    </div>

  </div>
  <table class="layui-table" id="showTable" lay-filter="showTable" ></table>
</div>
<div class="operation1" hidden>
        <div id="detail"  shiro:hasPermission="assetListview:getInfo">
                <div class="detail-row">
                    <label class="left-itme">Asset Code</label>
                    <label id="assetCodeStr" />
                </div>
                <div class="detail-row">
                    <label class="left-itme">Asset Name</label>
                    <span id="assetNameStr" />
                </div>
                <div class="detail-row">
                    <label class="left-itme">Asset Type</label>
                    <span id="typeNameStr" />
                </div>
                <div class="detail-row">
                    <label class="left-itme">Unit</label>
                    <span id="unitStr" />
                </div>
                <div class="detail-row">
                    <label class="left-itme">Detail</label>
                    <span id="descriptionStr" />
                </div>
                <div class="layui-form-item">
                    <label class="detail-left">Serial Number</label>
                    <span id="serialNumStr" />
                </div>
                <div class="layui-form-item">
                    <label class="detail-left">But Date</label>
                    <span  id="buyDateStr" />
                </div>
                <div class="layui-form-item">
                    <label class="detail-left">Cost</label>
                    <span  id="buyCostStr" />
                </div>
                <div class="layui-form-item">
                    <label class="detail-left">Invoice No.</label>
                    <span id="invoiceNoStr" />
                </div>
                <div class="layui-form-item">
                    <label class="detail-left">Invoice Date</label>
                    <span id="invoiceDateStr" />
                </div>
                <div class="layui-form-item">
                    <label class="detail-left">Department</label>
                    <span id="deptNameStr" />
                </div>
                <div class="layui-form-item">
                    <label class="detail-left">Remark</label>
                    <span id="remarkStr" />
                </div>
                <div class="layui-input-block">
                    <button  class="layui-btn layui-btn-primary" id="btn_back">Back</button>
                </div>
    </div>
</div>
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add"  shiro:hasPermission="assetListview:add">Add</button>
    <button class="layui-btn layui-btn-sm" lay-event="batchDeleted" shiro:hasPermission="assetListview:delete">Delete</button>
  </div>
</script>
<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="detail" shiro:hasPermission="assetListview:getInfo">Detail</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="assetListview:update">Edit</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="assetListview:delete">Delete</a>
</script>

</body>
</html>
<script src="/layui/layui.all.js"></script>
<script src="/js/core.util.js"></script>
<script>


  var token = CoreUtil.getData("access_token");

  var tokenQuery = token.replace("#", "%23");
  var tableIns1;
  var table = layui.table;
  var form = layui.form;
  var layer = layui.layer;
  var $ = jQuery = layui.jquery;
  var laydate = layui.laydate;

  var datas = "[[${@assetType2Service.getAssettype()}]]".replace(/&quot;/g,"\"");
  var placedatas = "[[${@place2Service.getPlacetSel()}]]".replace(/&quot;/g,"\"");
  var departdatas = "[[${@departmentService.getDeptId()}]]".replace(/&quot;/g,"\"");

  layui.use(['table', 'layer', 'laydate', 'layedit'], function () {


   var layedit = layui.layedit;

    tableIns1 = table.render({
      elem: '#showTable'
      , contentType: 'application/json'
      , headers: {"authorization": token}
      , page: true 
      , url: '/assetListview/listByPage' // data api
      , method: 'POST'
      , parseData: function (res) {
        return {
          "code": res.code,
          "msg": res.msg,
          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total,
          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records
        }
      }
      , cols: [
        [
          {width: 110, field: 'assetCode', title: 'Asset Code', sort: true},
          {field: 'assetName', title: 'Asset Name', sort: true},
          {width: 180, field: 'typeName', title: 'Type'},
          {width: 160, field: 'buydate', title: 'Buy Date'},
          {width: 210, field: 'deptName', title: 'Department' },
          {width: 180, toolbar: "#tool", title: 'Action'}
        ]
      ]
      , toolbar: '#toolbar'
    });



    table.on('toolbar(showTable)', function(obj){
        console.log(obj)
      switch(obj.event){

        case 'add':
          $(".table_div").hide();
          $(".operation").show();
          $(".title").html("Create");
          $(".operation input[name=id]").val("");
          $(".operation input[name=assetCode]").val("");
          $(".operation input[name=assetName]").val("");
          //$(".operation input[name=assetType]").val("");
          $("#assetType option:first").prop("selected", 'selected');
          $(".operation input[name=unit]").val("");
          //$(".operation input[name=buydate]").val("");
          laydate.render({elem: '#buydate'});
          $(".operation input[name=description]").val("");
          $(".operation input[name=cost]").val("");
          $(".operation input[name=serialnum]").val("");
          $(".operation input[name=invoiceno]").val("");
          //$(".operation input[name=invoicenodate]").val("");
          laydate.render({elem: '#invoicenodate'});
          $(".operation input[name=deptId]").val("");

          $("#place").attr("disabled","disabled");

          $("#responStaff option:first").prop("selected", 'selected');
          //$(".operation input[name=remark]").val("");
          layedit.setContent(editIndex, "");
          break;
      };
    });


    table.on('tool(showTable)',function (obj) {
      var data = obj.data;
      switch (obj.event) {
        case 'edit':
          $(".table_div").hide();
          $(".operation").show();
          $(".title").html("Edit");
          $(".operation input[name=id]").val(data.id);
          $(".operation input[name=assetCode]").val(data.assetCode);
          $(".operation input[name=assetName]").val(data.assetName);
          var buydateStr = data.buydate.substring(0, 10);
          laydate.render({ elem: '#buydate' ,value: buydateStr});
          $(".operation input[name=unit]").val(data.unit);
          $(".operation input[name=cost]").val(data.cost);
          $(".operation input[name=serialnum]").val(data.serialnum);
          $(".operation input[name=invoiceno]").val(data.invoiceno);
          var invoicenodateStr = data.invoicenodate.substring(0, 10);
          laydate.render({  elem: '#invoicenodate',value: invoicenodateStr });
          if (!CoreUtil.isEmpty(data.assetType)) {
                        $("#assetType").find('option[value="'+data.assetType+'"]').prop('selected','disabled').attr('disabled', 'disabled');
                        form.render();
                    }

          if (!CoreUtil.isEmpty(data.place)) {
                        $("#place").find('option[value="'+data.place+'"]').prop('selected','disabled').attr('disabled', 'disabled');
                        form.render();
                    }
          if (!CoreUtil.isEmpty(data.deptId)) {
                        $("#deptId").find('option[value="'+data.deptId+'"]').prop('selected','disabled').attr('disabled', 'disabled');
                        form.render();
                    }
          if (!CoreUtil.isEmpty(data.responStaff)) {
                        $("#responStaff").find('option[value="'+data.responStaff+'"]').prop('selected','disabled').attr('disabled', 'disabled');
                        form.render();
                    }
           $('#remark').html(data.remark);
           $('#descriptio').html(data.description);

          break;
        case 'del':
          tipDialog(data);
          break;
        case 'detail':
          $(".table_div").hide();
          $(".operation1").show();

           CoreUtil.sendGet("/assetListview/getInfo/"+data.assetCode , null, function (res) {
                 console.log(res.data[0]);
                 document.getElementById("assetCodeStr").innerHTML = res.data[0].assetCode;
                 document.getElementById("assetNameStr").innerHTML = res.data[0].assetName;
                 document.getElementById("typeNameStr").innerHTML = res.data[0].typeName;
                 document.getElementById("unitStr").innerHTML = res.data[0].unit;
                 document.getElementById("descriptionStr").innerHTML = res.data[0].description? res.data[0].description:"";
                 document.getElementById("buyCostStr").innerHTML = res.data[0].cost;
                 document.getElementById("serialNumStr").innerHTML = res.data[0].serialnum;
                 document.getElementById("buyDateStr").innerHTML = res.data[0].buydate.substring(0, 10);
                 document.getElementById("invoiceNoStr").innerHTML = res.data[0].invoiceno;
                 document.getElementById("invoiceDateStr").innerHTML = res.data[0].invoicenodate.substring(0, 10);
                 document.getElementById("deptNameStr").innerHTML = res.data[0].deptName;
                 document.getElementById("remarkStr").innerHTML = res.data[0].remark? res.data[0].remark:"" ;
           });

          break;
      }
    });


    $('#export').on('click', function () {
      var exportParams = {
        limit: 10000,
        key: $("#key").val()
      };
      CoreUtil.sendPost("/assetListview/listByPage", exportParams, function (res) {
        if (res.data != null && res.data.records != null) {
          table.exportFile(tableIns1.config.id, res.data.records, 'xls');
        }
      });
    });

    //删除
    var tipDialog=function (ids) {
      layer.open({
        content: "Sure you want to delete?",
        yes: function(index, layero){
          layer.close(index); 
          CoreUtil.sendPut("/assetListview/delete",ids,function (res) {
            layer.msg(res.msg, {time:1000},function () {
              search();
            });
          });
        }
      });
    };


    $("#btn_cancel").click(function() {
      $(".table_div").show();
      $(".operation").hide();
      return false;
    });

    $("#btn_back").click(function() {
      $(".table_div").show();
      $(".operation1").hide();
      return false;
    });


    form.on('submit(submit)', function(data){
      if(data.field.id===undefined || data.field.id===null || data.field.id===""){
        CoreUtil.sendPost("/assetListview/add",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          search();
        });
      }else {
        CoreUtil.sendPut("/assetListview/update",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          search();
        });
      }

      return false;
    });
  });


  function search() {
    tableIns1.reload({
      where: { 
        assetCode: $("#assetCode").val(),
        assetName: $("#assetName").val(),
        assetType: $("#typeSel").val(),
        deptId: $("#deptSel").val(),
      }
      , page: {
        curr: 1 
      }
    });
  };
</script>
<style>
.detail-left{
  width: 180px;
  max-width: 180px;
  min-width: 180px;
  font-size: 16px;
  color: grey;
  padding: 8px 15px;
  height: 38px;
  line-height: 20px;
  text-align: center;
  background-color: #FBFBFB;
  overflow: hidden;
  box-sizing: border-box;
}

.detail-row{
  grid-template-columns: 200px 200px;
  grid-gap: 20px;
  font-size: 18px;
  padding: 8px 15px;
}

.left-itme{
  color: gray;
  min-width: 200px;
  max-width: 200px;
}
</style>