<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.project.mapper.TestcodeMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.company.project.entity.TestcodeEntity" id="testcodeMap">
        <result property="id" column="id"/>
        <result property="testCode" column="test_code"/>
        <result property="test1" column="test1"/>
    </resultMap>


</mapper>